
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Something went wrong...</h2>
<br />
<h4>Sorry!&nbsp;<i class="fa fa-frown-o"></i></h4><br />
<h4>Would you like to <a href="http://www.webcoder.org.uk">return to the homepage</a> and try again?</h4>