@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to WebCoder’s research site</h2>
<p>WebCoder is a system that aims to make learning website coding easy and fun. </p>
<p>If you choose to try out WebCoder today, you will be helping with this testing by using the system and taking a short coding test. You will also be able to learn some new skills and give your feedback on the WebCoder experience.</p>
<p>Please note that this research is comparing two versions of WebCoder, so you may be asked to use either one of those versions.</p>
<p>Because this system aims to help beginners learn HTML and CSS, to participate you must</p>
<ol>
    <li>be over 18</li>
    <li>have not have studied HTML and CSS before</li>
    <li>have about an hour spare to spend testing the system, and</li>
    <li>be willing to use either version of the tutorial.</li>

</ol>
<p>Think you might be interested? Click “Start”.</p>
<div class="button-wrapper">
    @Html.ActionLink("Start", "Declaration", null, new { @class = "button" })
</div>





